name: 'Terraform'

on:
  push:
    branches:
      - master

jobs:
  config:
    name: 'Push to storage'
    runs-on: ubuntu-latest
    environment: production
    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Login
      run: az login --service-principal -u "593a0caf-2c37-45f6-9a5e-cf78187b7c67" -p "${{ secrets.AZURE_CREDENTIALS }}" --tenant "39133f74-b0c2-4b65-ac2d-5900ee40a76c"
    
    - name: Upload to blob storage
      uses: azure/CLI@v1
      with:
        inlineScript: |
            az storage blob upload-batch --account-name configsajdn --auth-mode login --destination '$scripts' --source ./azure/scripts

    - name: logout
      run: |
            az logout
      if: always()